arjun
beautifulsoup4
binarytree
black
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
matplotlib
matplotlib-inline
opencv-python
pandas
Pillow
pwn
pwntools
scikit-learn
scipy
seaborn
selenium
setuptools-scm
spotdl
pulsemixer
